* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    max-width: 1140px;
    margin: 0 auto; 
}
.container {
    padding: 0 calc(50% - 1140px / 2); /* потестировать еще */
}
.hidden {
    visibility: hidden;
    position: absolute;
    left: -99999px;
    width: 1px;
    height: 1px;
}
html {
    font-size: 14px;
    font-weight: 300;
}
body {
    font-family: 'Lato', sans-serif;
}

// ================= TABLET =================

@media (max-width: 1040px) {
	.wrap {
		max-width: 768px;
	}
    .container {
        max-width: 768px;
    }
    body {
        min-height: 100vh;
    }
}

// ================ MOBILE ==================

@media (max-width: 390px) {
	.wrap {
		max-width: 375px;
	}
    .container {
        max-width: 375px;
    }
    body {
        min-height: 100vh;
    }
}